/* EXERCISE 1 
div{
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
*/
/* ESERCISE 2 
.Odd-Numbered{
    background-color: rgb(241, 180, 180);
    font-family: Verdana, DejaVu Sans, sans-serif;
}
#second{
    color: rgb(109, 114, 206);
    font-size: 36px;
}
#third{
    font-size: 24px;
}
#fourth{
    background-color: rgb(162, 233, 151);
    font-size: 24px;
    font-weight: bold;
}
*/
/* EXERCISE 3 
#button1,
#button2{
    font-size: 28px;
    font-family: Helvetica, Times New Roman, sans-serif;
}
#button1{
    background-color: black;
    color: white;
}
#button2{
    background-color: rgb(187, 199, 116);
}
*/
