/* Fix The Cascade 
body {
  font-family: Arial, Helvetica, sans-serif;
}

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.para {
  font-size: 22px;
}

.small-para {
  font-size: 14px;
  font-weight: 800;
}

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 

div.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}

div.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}
*/
/* Margin And Padding 
body{
  font-family:'Times New Roman', Times, serif;
  max-width: 600px;
  margin: 0 auto;
}
.one{
  background-color: rgb(250,191,203);
  border: 2px solid black;
  padding: 32px;
  margin: 12px;
}
.two{
  background-color:rgb(173,216,229);
  border: 2px solid black;
  margin-bottom: 48px;
}
.three{
  background-color: rgb(251, 219, 185);
  border: 2px solid black;
  text-align:left;
  padding: 32px;
  margin-left:150px;
}
*/
